body {
    display: flex;
    justify-content: center;
    background-color: rgb(34, 189, 209);
}
#mainbox {
    width: 1200px;
    height: 100px;
    background-image: linear-gradient(white,rgb(78, 177, 243));
}